{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %} 
	Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
	<h2>Liste des annonces</h2>

	<ul style="clear:both; overflow:hidden">
    {% for advert in listAdverts %}
      <li style="height: 150px; width: 72%; float:left;">
	  <p style="width21%; float:left; padding-right:12px;">
		{% if advert.image is not null %}
			<!--<img style="vertical-align:text-top" src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" />-->
			<img src="{{ asset(advert.image.getWebPath) }}" alt="{{ advert.image.alt }}" >
		{% endif %}
	  </p>
	   <p> 
			<a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
				{{ advert.title }}
			</a>
			 <span> par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }} /<span> <br />
			<span style="color:red">Catégories :  </span>
			{% for category in advert.categories %}
				<b>{{ category.name }}</b> {% if not loop.last%}, {% endif %}
			{% endfor %}
			<br />
			<span style="color:green">Compétences requises pour cette annonce :</span>
			{% for adverskill in advert.advertskilles %}
				<b>{{ adverskill.skill.name }}  -{{ adverskill.level }}-</b> {% if not loop.last%}, {% endif %}
			{% endfor %}

		</p>
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
	</ul>
	<ul class="pagination">
		{% for p in range(1, nbPages) %}
			<li{% if p == page %} class="active"{% endif %}>
				<a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
