{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %} 
	Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
 {% if listAdverts is not  null %}
	<h2>Job disponibles</h2>
	<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
	      <li style="height: 100px; width: 72%; float:left;">
		<!-- <p style="width21%; float:left; padding-right:12px;">
		{* {% if advert.image is not null %}
			<img src="{{ asset(advert.image.getWebPath) }}" alt="{{ advert.image.alt }}" >
		{% endif %} *}
	      </p>-->
		<a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="link-article">{{ advert.title }} </a>
                <span> par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }} /<span>
		<span style="color:red">Catégories :  </span>
		{% for category in advert.categories %}
			<b>{{ category.name }}</b> {% if not loop.last%}, {% endif %}
		{% endfor %}
		<span style="color:green">Compétences requises pour cette annonce :</span>
		{% for adverskill in advert.advertskilles %}
			<b>{{ adverskill.skill.name }}  -{{ adverskill.level }}-</b> {% if not loop.last%}, {% endif %}
		{% endfor %}
	      </li>
    {% endfor %}
	</ul>
	<ul class="pagination">
		{% for p in range(1, nbPages) %}
			<li{% if p == page %} class="active"{% endif %}>
				<a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
			</li>
		{% endfor %}
	</ul>
	{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_RECRUTEUR") %}
		<p><strong>Vous pouvez aussi lister les offres à travers <a href="{{ path('oc_platform_admin_datatable') }}">ce lien</a></strong></p>
	{% else %}
		<p><strong>Vous pouvez aussi lister les offres à travers <a href="{{ path('oc_platform_datatable') }}">ce lien</a></strong></p>
	{% endif %}
{% else %}
	<p>Aucune annonce pour le moment</p>
{% endif %}
{% endblock %}
